---
layout: layouts/default.liquid
---

<header class="post-header">
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-time">
    <time datetime="{{ post.date }}">
      {{ page.date | date : "%a, %b %d, %Y" }}
    </time>
  </div>
</header>

<section class="post-container">
  {{ content }}
</section>

{% assign similar = collections.posts | similarPosts: page.inputPath, tags %} {%
if similar.length > 0 %}
<section class="related">
  <h2 class="related-title">You might also enjoy</h2>
  <ul class="related-posts">
    {% for post in similar limit: 2 %}
    <li>
      <a class="related-article" href="{{ post.url }}">
        <h3 class="related-article-title">{{ post.data.title }}</h3>
        <p class="related-article-description">
          Whenever I buy things I try to prioritize cost per use. Sometimes I
          consider other priorities such as cost per smile, cost per thrill,
          cost per externality, and cost per lesson. Cost per use Cost per use
          is a heuristic that helps me make decisions about most non-perishable
          purchases such... Keep&nbsp;reading&nbsp;→
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %} {% include "css/prism.liquid" %}

<style>
  .post-header {
    margin-bottom: var(--space-5);
  }
  .post-title {
    font-weight: normal;
  }
  .post-time {
    color: var(--color-text-shade);
    font-size: var(--font-size-xs);
  }
  .post-container {
    padding-bottom: var(--space-8);
    border-bottom: 1px solid var(--color-text-shade);
  }
  .post-container h2 {
    margin-top: var(--space-7);
  }
  .post-container h3 {
    margin-top: var(--space-6);
  }
  .post-container blockquote {
    margin: var(--space-5) 0;
  }
  .post-container > * + * {
    margin-top: var(--space-3);
  }
  .post-container > *:first-child {
    margin-top: 0;
  }
  .post-container blockquote > * + * {
    margin-top: var(--space-3);
  }
  .post-container ul,
  .post-container ol {
    padding-left: var(--space-6);
  }
  .post-container h2 + *,
  .post-container h3 + *,
  .post-container h4 + *,
  .post-container h5 + * {
    margin-top: var(--space-2);
  }
  .related {
    margin-top: var(--space-8);
  }
  .related-posts {
    list-style: none;
  }
  .related-article + .related-article {
    margin-top: var(--space-4);
  }
  .related-article {
    padding: var(--space-2) 0;
    color: var(--color-text);
    text-decoration: unset;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
  .related-article-title {
    transition: color 0.2s ease-in-out;
  }
  .related-article:hover .related-article-title {
    color: var(--color-primary);
  }
  .related-article-description {
    font-size: var(--font-size-xs);
    color: var(--color-text-shade);
  }
  :root {
    --prism-foreground: #393a34;
    --prism-background: transparent;

    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: #bc8671;
    --prism-punctuation: #80817d;
    --prism-literal: #36acaa;
    --prism-keyword: #248459;
    --prism-function: #849145;
    --prism-deleted: #9a050f;
    --prism-class: #2b91af;
    --prism-builtin: #800000;
    --prism-property: #ce9178;
    --prism-regex: #ad502b;
  }

  [data-theme="dark"] {
    --prism-foreground: #d4d4d4;

    --prism-namespace: #aaaaaa;
    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: #ce9178;
    --prism-punctuation: #d4d4d4;
    --prism-literal: #36acaa;
    --prism-keyword: #38a776;
    --prism-function: #dcdcaa;
    --prism-deleted: #9a050f;
    --prism-class: #4ec9b0;
    --prism-builtin: #d16969;
    --prism-property: #ce9178;
    --prism-regex: #ad502b;
  }
</style>
